body {
    background-color: rgba(134, 198, 236, 0.764);
    margin-top: 0px;
     padding: 0px;
  }
  
  h1{font-style: italic;
    text-align:center;font-size: 40px;color:rgb(228, 60, 63);
  }
  
  .bolded {
    font-weight: bold;
  }
  

  #shadow{
    
    text-shadow: 2px 2px 2px red;
  }
  body{
    font-family: "Dancing Script" sans-serif;
  }